* {
    border: 0 none;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none
}

.ml-15 {
    margin-left: 15px
}

.mt-15 {
    margin-top: 15px
}

.pl-none {
    padding-left: 0;
}

div.main {
    margin-top: 70px
}

label.error {
    color: red;
}

div.footer {
    background: #4d4d4d;
    clear: both;
    height: 87px;
    margin-top: 30px
}

div.footer ul li.bd-line {
    background: #666 none repeat scroll 0 0;
    height: 12px;
    position: relative;
    top: 4px;
    width: 1px;
}

div.footer ul {
    padding-top: 22px;
    color: #fff;
    width: 266px;
    margin: 0 auto;
}

div.footer ul li {
    text-align: center;
}

div.footer ul li a {
    color: #ccc;
    padding: 0 10px;
    cursor: pointer;
}

div.footer p {
    margin-top: 10px;
    color: #999;
    text-align: center;
}

div.footer .icon {
    position: absolute;
    right: 20px;
    top: 33px;
    width: 97px;
    height: auto;
    cursor: default;
}

.ui-widget-overlay {
    background: rgba(0, 0, 0, .25);
    opacity: 1 !important;
    z-index: 1040 !important;

}

.ui-widget-header {
    background: white;
}

.ui-dialog-title {
    font-size: 18px;
    color: #666;
    height: 46px;
    line-height: 46px;
}

.ui-button {
    background: url(../images/bg.png) -500px -600px no-repeat;
}

.ui-dialog .ui-dialog-titlebar-close {
    top: 30%;
}

.ui-dialog div.member-dialog {
    border: 0;
    background: white;
}

.member-dialog .content-container {
    padding-bottom: 50px;
}

.member-dialog .content-container {
    padding: 20px 20px;
}

.member-dialog .tips {
    color: #4994bd;
    text-indent: 24px;
    height: 20px;
    background: url(../images/tan.png) left center no-repeat;
}

.member-dialog input {
    text-indent: 36px;
    border-color: #ddd;
    font-size: 14px;
    color: #333;
    border-radius: 2px;
    display: block;
    outline: none;
    height: 40px;
}

.member-dialog input.i-username {
    background: rgba(0, 0, 0, 0) url("../images/name.png") no-repeat scroll 18px center;
}

.member-dialog .show-span {
    text-align: left;
    text-indent: 0;
    font-size: 12px;
    color: #666;
    cursor: pointer;
}

.member-dialog input.i-password {
    background: rgba(0, 0, 0, 0) url("../images/psw.png") no-repeat scroll 18px center;
}

.member-dialog input, .member-dialog .submit {
    width: 350px;
}

.member-dialog input.captchaCode {
    width: auto;
    text-indent: 0;
}

/* 用户头像 */
.nav > li > a > img.nav-user-photo {
    vertical-align: middle;
    border: 2px solid #fff;
    border-radius: 100%;
    max-width: 40px;
}

.nav > li > a.user {
    padding: 5px 0;
}

.user-info {
    display: inline-block;
    line-height: 15px;
    max-width: 100px;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    top: 6px;
    vertical-align: top;
    white-space: nowrap;
}

.user-info small {
    display: block;
}

ol.breadcrumb {
    background: none;
}

ol.breadcrumb a {

}

.clearfix::before, .cl::before, .clearfix::after, .cl::after {
    content: "";
    display: table;
    line-height: 0;
}

.clearfix::after, .cl::after {
    clear: both;
}

.categroy-hd span {
    color: #4c4c4c;
    display: inline;
    float: left;
    font-size: 18px;
}

.categroy-hd h3 a {
    font-weight: bold;
    text-decoration: none;
}

.categroy-bd li a:hover {
    color: #1dacf9;
}

.page-header {
    border-bottom: none;
}