.lianxi-container .shiti-content {
    color: #4c4c4c;
    font-size: 18px;
    line-height: 1.723;
    width: 740px;
}

span.favor-tag {
    background: rgba(0, 0, 0, 0) url("../images/fovor.png") no-repeat scroll 12px center;
    text-indent: 20px;
}
.lianxi-container .options-container i {
    background: rgba(0, 0, 0, 0) url("../images/options.png") no-repeat scroll -1px center;
    float: left;
    height: 23px;
    width: 23px;
}

.options-container {
    line-height: 23px;
    text-indent: 5px;
}

.options-container p {
    width:auto;
    padding:0 30px 0 5px;
    cursor: pointer;
}

.lianxi-container .xuan i {
    background: url(../images/bg.png) -300px -498px no-repeat;
}

.lianxi-container .dui i {
    background: url(../images/bg.png) -200px -498px no-repeat;
}

div.tip-container {
    font-size: 13px;
    height: auto;
    min-height: 21px;
    margin: 10px 0 20px 0;
    padding-left: 20px;
    color: #999;
}

.lianxi-container .tongji-container .x-sync {
    color: #1dacf9;
    cursor: pointer;
    position: relative;
    width: auto;
}

.tongji-container .x-dadui {
    padding-left: 36px;
}
.tongji-container label span {
    color: #4c4c4c;
    font-size: 14px;
}
.tongji-container .daduinext input {
    margin-right: 8px;
    position: relative;
    top: 2px;
}
input, textarea, select {
    outline: medium none;
}
.tongji-container .daduinext {
    width: auto;
}
.tongji-container label {
    color: #999;
    font-size: 14px;
    width:auto;
    min-width: 110px;
}

a {
    color: inherit;
    text-decoration: none;
}

div.explain-container {
    margin-top: 39px;
}
div.explain-container .title {
    border-bottom: 1px solid #f2f2f2;
    font-size: 18px;
    color: #333;
    height:28px;
    line-height: 28px;
}

div.explain-container .ef-content {
    padding-top: 17px;
    height:auto;
}

div.explain-container .ef-content .wapper {
    font-size: 16px;
    color: #b28850;
    line-height: 1.6;
}
b.tips span {
    font-weight: bold;
}

.lianxi-container .shiti-item .favor-tag.on {
    background-image: url(../images/fovor1.png);
    border-color: #1dacf9;
    color: #1dacf9;
}

p.me-answer-type span {
    padding: 6px;
}

div.span4 {
    margin: 5px;
}